
/* Your CSS Code here. */
.moviePic{
	width:700px;
	height:400px;
	opacity:60%;
}
.movieDetail{
	position: relative;
            top: 20px;
            width: 80%;
            margin: auto;
            text-align: center;
            font-size: 18px;
	background-color:lightpink;
}

body{
	background-color:lightcoral;
	text-align:center;
}